.side_menu_container{
  display: none;
  padding-top: 40px;
  padding-left: 25px;
}

.no-user-alert{
  color: red
}

#add-match{
  position: absolute;
  bottom: 15px;
}

.container{
  padding-top: 25px;
  padding-left: 100px;
}

.background-container{
  height: 95vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(../images/professional\ gaming.jpg);
}

.title{
  text-align: center;
  margin-top: 30vh;
  font-size: 5em;
  color: white;
}

.description{
  text-align: center;
  margin-top: 1vh;
  font-size: 2em;
  color: white;
}

.red {
  color: red;  
  text-shadow: 0 0 2px white;
}

.black {
  color: black;
  text-shadow: 0 0 2px white;
}

.blue {
  color: blue;
  text-shadow: 0 0 2px white;
}